---
import styles from './About.module.scss';
import Container from '@components/UI/Container/Container.astro';
import SectionHeading from '@components/UI/SectionHeading/SectionHeading.astro';
---

<section class={styles.About}>
  <Container>
    <div class={styles.content}>
      <SectionHeading
        heading='Blue Peak Plumbing & Gas'
        subheading='About Us'
      />
      <div class={styles.text}>
        <p>
          We are a professional plumbing company that offers a broad range of
          general, specialist plumbing and gas services to clients across the
          greater Cape Town area.
        </p>
        <p>
          We specialize in all things plumbing and gas related. From gas geyser
          installations to blocked drains we have you covered!
        </p>
        <p>
          We are a skilled and professional team that strives for quality work
          and excellent service.The Blue Peak team will provide services to our
          customers, safely, reliably and efficiently.
        </p>
      </div>
    </div>
  </Container>
</section>
