---
import styles from './Landing.module.scss';
import Button from '@components/UI/Button/Button';
---

<section class={styles.Landing}>
  <div class={styles.content}>
    <h1>
      Your Peak Performers in <br /> Plumbing & Gas Solutions
    </h1>
    <h2>We Offer 24/7 Emergancy Services</h2>
    <Button colour='primary' withArrow>Let's fix your problem </Button>
  </div>
</section>
