---
import styles from './Landing.module.scss';
import Button from '@components/UI/Button/Button.astro';
---

<section class={styles.Landing}>
  <div class={styles.content}>
    <h1>
      Your Peak Performers in <br /> Plumbing & Gas Solutions
    </h1>
    <h2>We Offer 24/7 Emergency Services</h2>
    <Button colour='primary' withArrow href='/contact'>
      Let's fix your problem
    </Button>
  </div>
</section>
