.ContactForm {
  form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 32px;
    margin-bottom: 32px;

    input,
    textarea {
      padding: 8px;
      background-color: transparent;
      border: none;
      font-family: 'Poppins';
      border-bottom: 1px solid var(--colour-font-secondary);
      width: 100%;
      outline: none;
      color: var(--colour-font);
      transition: 0.3s ease-out;
      font-size: 15px;
      border-radius: 0;

      &::placeholder {
        color: var(--colour-font);
        font-weight: 300;
      }

      &:focus {
        border-bottom: 1px solid var(--colour-primary);
      }
    }

    textarea {
      grid-column: unset;
      resize: none;
    }
  }

  @include breakpoint-md {
    form {
      grid-template-columns: 1fr 1fr;

      textarea {
        grid-column: 1/3;
      }
    }
  }
}
