:root {
  --colour-white: #fbfbfb;
  --colour-secondary: #eaeaea;
  --colour-tertiary: #636777;
  --colour-accent: #1c1e27;
  --colour-primary: #2b5fae;

  // Light mode
  --colour-font: var(--colour-accent);
  --colour-font-secondary: var(--colour-tertiary);
  --color-background: var(--colour-white);

  @media screen and (prefers-color-scheme: dark) {
    --colour-font: var(--colour-white);
    --colour-font-secondary: var(--colour-tertiary);
    --color-background: var(--colour-accent);
  }
}
