.Contact {
  .content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 24px;

    .details {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .contact {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;

        a {
          display: flex;
          align-items: center;
          gap: 16px;
          transition: 0.3s ease-out;
          svg * {
            fill: var(--colour-primary);
          }

          &:hover {
            color: var(--colour-primary);
            gap: 20px;
          }
        }
      }

      .social {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

svg {
  width: 18px;
  height: 18px;

  * {
    fill: var(--colour-primary);
    transition: 0.3s ease-out;
  }

  &:hover {
    * {
      fill: var(--colour-font);
    }
  }
}
