.Button {
  display: block;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
  outline: none;
  border-style: solid;
  border-width: 1px;
  font-weight: 500;

  &.colour-font {
    border-color: var(--colour-font);
    color: var(--colour-font);
    background-color: transparent;

    &:hover {
      color: var(--colour-primary);
      border-color: var(--colour-primary);
    }

    &.variant-contained {
      background-color: var(--colour-font);
      color: var(--colour-on-colour);

      &:hover {
        color: var(--colour-font);
        border-color: var(--colour-primary);
        background-color: var(--colour-primary);
      }
    }
  }

  &.colour-primary {
    background-color: transparent;
    border-color: var(--colour-primary);
    color: var(--colour-primary);

    &:hover {
      border-color: var(--colour-font);
      color: var(--colour-font);
    }

    &.variant-contained {
      background-color: var(--colour-primary);
      color: var(--colour-on-colour);

      &:hover {
        background-color: var(--colour-font);
        border-color: var(--colour-font);
      }
    }
  }
}
