---
import Layout from '@components/Layout/Layout.astro';
import Landing from '@components/content/Landing/Landing.astro';
import Contact from '@components/content/Contact/Contact.astro';
import About from '@components/content/About/About.astro';
import WhyChooseUs from '@components/content/WhyChooseUs/WhyChooseUs.astro';
import ServicesOverview from '@components/content/ServicesOverview/ServicesOverview.astro';
import Container from '@components/UI/Container/Container.astro';
---

<Layout
  title='Blue Peak Plumbing & Gas'
  description='Blue Peak offers expert plumbing & gas services in Cape Town. From installations to repairs, trust our skilled team for quality work & excellent service.'
>
  <Landing />
  <ServicesOverview />
  <About />
  <WhyChooseUs />

  <section>
    <Container>
      <Contact withSectionHeading />
    </Container>
  </section>
</Layout>
