---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blue Peak Plumbing | Coming Soon">
	<main>
   <div class="content">
    <img src="/logo.svg" alt="">
    <h1>Blue Peak</h1>
    <h2>Plumbing & Gas</h2>
    <div class="divider" />
    <h3>Coming Soon</h3>
    <div class="contact">
      <a href="https://wa.me/+27603083694">
       <img src="/icons/whatsapp.svg" alt="Icon" width="20">
       0603083694
      </a>
      <a href="mailto:lanzo@blue-peak.co.za">
        <img src="/icons/email.svg" alt="Icon" width="20">
        lanzo@blue-peak.co.za
       </a>
      </a>
      <a href="tel:0603083694">
        <img src="/icons/phone.svg" alt="Icon" width="20">
        0603083694
       </a>
      </a>
    </div>
   </div>
  <img class="background" src="/background.jpg" alt="background" loading="eager">
	</main>
</Layout>

<style lang="scss">
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem;
    position: relative;
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
  }

  img {
    width: 150px
  }

  h1, h2, h3 {
    margin: 0;
    text-align: center;
    margin: 0;
  }

  h1 {
    font-weight: 600;
    font-size: 40px;
  }

  h2 {
    color: #EAEAEA;
    font-weight: 500;
    font-size: 22px;
  }

  .divider {
    background-color: #EAEAEA;
    height: 0.5px;
    width: 300px;
    margin: 1rem 0;
  }

  h3 {
    color: #0068D0;
    font-weight: 600;
    font-size: 20px;
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #0068D0;
    padding: 8px 16px;
    border-radius: 12px;
  }

  a img {
    width: 20px;
  }
</style>
