---
import Layout from '@components/Layout/Layout.astro';
import Landing from '@components/content/Landing/Landing.astro';
import Contact from '@components/content/Contact/Contact.astro';
import About from '@components/content/About/About.astro';
import WhyChooseUs from '@components/content/WhyChooseUs/WhyChooseUs.astro';
import ServicesOverview from '@components/content/ServicesOverview/ServicesOverview.astro';
import FAQs from '@components/content/FAQs/FAQs.astro';
import Container from '@components/UI/Container/Container.astro';
---

<Layout title='Blue Peak Plumbing & Gas'>
  <Landing />
  <About />
  <WhyChooseUs />
  <ServicesOverview />
  <FAQs />

  <section>
    <Container>
      <Contact />
    </Container>
  </section>
</Layout>
