---
import styles from './SectionHeading.module.scss';

interface Props {
  heading: string;
  subheading: string;
}

const { heading, subheading } = Astro.props;
---

<header class={styles.SectionHeading}>
  <h1>{heading}</h1>
  <h2>{subheading}</h2>
</header>
