.SectionHeading {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 48px;
  align-items: center;
  text-align: center;

  h2 {
    font-weight: 400;
    color: var(--colour-font-secondary);
    margin-bottom: 8px;
    order: 1;
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
    font-weight: 500;
    order: 2;
  }

  &.centerAlign {
    align-items: center;
    text-align: center;
  }

  @include breakpoint-md {
    align-items: unset;
    text-align: unset;
  }
}
