.Footer {
  display: grid;
  grid-template-areas:
    'navigation'
    'social'
    'copyright';
  align-items: center;
  gap: 24px;
  font-weight: 300;
  padding: 16px 0 32px;
  border-top: 1px solid var(--colour-font-secondary);
  color: var(--colour-font-secondary);

  nav {
    display: flex;
    gap: 1rem;
    font-size: 14px;
    grid-area: navigation;
    justify-content: center;

    a {
      transition: 0.3s ease-out;

      &:hover {
        color: var(--colour-primary);
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 12px;
    grid-area: copyright;
  }

  .social {
    display: flex;
    gap: 1rem;
    justify-content: center;
    grid-area: social;

    svg {
      width: 18px;
      height: 18px;

      * {
        fill: var(--colour-font-secondary);
        transition: 0.3s ease-out;
      }

      &:hover {
        * {
          fill: var(--colour-primary);
        }
      }
    }
  }

  @include breakpoint-md {
    justify-content: space-between;
    grid-template-areas: 'navigation copyright social';
    gap: 16px;
    nav {
      justify-content: flex-start;
    }
    .social {
      justify-content: flex-end;
    }
  }
}
