---
import styles from './Footer.module.scss';

---

<footer class={styles.Footer}>
  <div class="left">
  <a href="/">Home</a>
  <a href="/services">Services</a>
  <a href="/contact">Contact</a>
  </div>
  <p>
    @2024 Blue Peak Plumbing & Gas
  </p>
  <div class="right">
    <a href="https://www.instagram.com/bluepeak.plumbing.gas" target="_blank">
      instagram
    </a>
    <a href="https://www.instagram.com/bluepeak.plumbing.gas" target="_blank">
      tiktok
    </a>
    <a href="https://www.instagram.com/bluepeak.plumbing.gas" target="_blank">
      facebook
    </a>
  </div>
</footer>