.Footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 16px;
  font-weight: 300;
  padding: 16px 0 32px;
  border-top: 1px solid var(--font-color-secondary);
  color: var(--font-color-secondary);

  nav {
    display: flex;
    gap: 1rem;
    font-size: 14px;
  }

  .copyright {
    text-align: center;
    font-size: 12px;
  }

  .social {
    display: flex;
    gap: 1rem;
    justify-content: right;

    svg {
      width: 18px;
      height: 18px;
      * {
        fill: var(--font-color-secondary);
      }
    }
  }
}
