---
import Button from '@components/UI/Button/Button.astro';
import styles from './EmergencyCard.module.scss';
import Card from '@components/UI/Card/Card.astro';
import SectionHeading from '@components/UI/SectionHeading/SectionHeading.astro';
---

<Card className={styles.EmergencyCard}>
  <SectionHeading
    subheading='Our plumbing professionals are always there when you need them!'
    heading='24/7 EMERGENCY SERVICE'
    className={styles.heading}
  />
  <Button className={styles.button} variant='contained' href='tel:0603083694'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      height='24'
      viewBox='0 -960 960 960'
      width='24'
      ><path
        d='M798-120q-125 0-247.5-54T328-328Q228-428 174-550t-54-248v-42h236l37 201-114 115q22 39 49 74t58 65q29 29 63.5 55.5T524-280l116-116 200 41v235h-42Z'
      ></path></svg
    >
    Call Us Now
  </Button>
</Card>
